#=================================================================#
#                   Best Track CONFIG                             #
#=================================================================#

# Use this file to configure the default settings to be used for 
# input arguments for best_track.py.  Note that any arguments 
# specified at runtime will bypass the related defaults for that 
# single run.  For more information, see the README file.

input_directory = segmotion_raw

directory_suffix = 

type = segmotion

buffer_distance = 10

buffer_time = 11

join_time = 16

join_distance = 50

min_cells_per_track = 3

main_iterations = 5

breakup_iterations = 3

output_directory = tracks

time_step = 0

map_results = 0




